:root {
  --radius: 5px;

  --sans-serif-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --serif-font: Georgia, 'Times New Roman', Times, serif;

  /* https://clrs.cc/ */
  --blue: #0074D9;
  --dark-blue: #044e8f;
  --light-blue: #CAE9FB;
  --teal: #39CCCC;
  --green: #2ECC40;

  --olive: #3D9970;

  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;

  --white: #FFFFFF;
  --silver: #DDDDDD;
  --gray: #AAAAAA;
  --darkgray: #808080;
  --black: #111111;
}
